n8n.json
{
  "nodes": [
    {
      "parameters": {
        "jsonSchemaExample": "[\n  {\n    \"theme\": \"<suggested by AI>\",\n    \"goal\": \"<generated by AI>\",\n    \"target_group\": \"<generated by AI>\",\n    \"main_thought\": \"<generated by AI>\",\n    \"tone\": \"<generated by AI>\",\n    \"idea\": \"<generated by AI>\"\n  },\n  {\n    \"theme\": \"<suggested by AI>\",\n    \"goal\": \"<generated by AI>\",\n    \"target_group\": \"<generated by AI>\",\n    \"main_thought\": \"<generated by AI>\",\n    \"tone\": \"<generated by AI>\",\n    \"idea\": \"<generated by AI>\"\n  },\n  {\n    \"theme\": \"<suggested by AI>\",\n    \"goal\": \"<generated by AI>\",\n    \"target_group\": \"<generated by AI>\",\n    \"main_thought\": \"<generated by AI>\",\n    \"tone\": \"<generated by AI>\",\n    \"idea\": \"<generated by AI>\"\n  }\n]"
      },
      "id": "17dea758-2537-480a-9f00-5a30871ae9a3",
      "name": "Structured Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "position": [
        -32,
        -592
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and stringify the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myStringifiedField = JSON.stringify(item.json.someObject);\n}\nreturn $input.all();"
      },
      "id": "54bc9d06-2e85-4e25-bbb2-0bdac6fa0eac",
      "name": "stringifyJSON",
      "type": "n8n-nodes-base.code",
      "position": [
        192,
        -784
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsonSchemaExample": "  {\n    \"story\": \"<generated by AI>\"\n  }"
      },
      "id": "a9a99ed7-a362-48da-a6e3-385e874f6373",
      "name": "Structured Output Parser1",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "position": [
        0,
        -112
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and stringify the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myStringifiedField = JSON.stringify(item.json.someObject);\n}\nreturn $input.all();"
      },
      "id": "0230ffe8-2edf-448a-b3eb-885f0074022b",
      "name": "stringifyJSON1",
      "type": "n8n-nodes-base.code",
      "position": [
        208,
        -336
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"chatInput\": \"{{$json.prompt}}\",\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -864,
        -784
      ],
      "id": "f5c70749-f786-4527-99cc-bedddbd4036e",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "import_memory",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1104,
        -1088
      ],
      "id": "e7376446-2549-4c76-965e-de410460a00c",
      "name": "import_memory",
      "webhookId": "b11d7d07-afc5-4c55-b2a9-1ec6f2fab910"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "openrouter/google/gemini-3-flash-preview",
          "mode": "list",
          "cachedResultName": "OPENROUTER/GOOGLE/GEMINI-3-FLASH-PREVIEW"
        },
        "messages": {
          "values": [
            {
              "content": "={{ JSON.stringify($json.body) }}"
            },
            {
              "content": "Act as a communication pattern analyst. Analyze the provided JSON data containing text samples and extract the following characteristics. Return ONLY a valid JSON object with no markdown formatting, explanation, or code blocks.\n\nINPUT: JSON object containing text samples (e.g., {\"content\": [...], \"articles\": [...], \"posts\": [...]} or similar structure)\n\nOUTPUT STRUCTURE:\n{\n  \"communication_style\": {\n    \"description\": \"Detailed description of communication approach (e.g., direct vs. indirect, use of jargon, sentence complexity)\",\n    \"formality_level\": \"formal / semi-formal / informal / casual\",\n    \"sentence_structure\": \"e.g., short and punchy, long and flowing, varied\",\n    \"vocabulary\": \"e.g., technical, simple, sophisticated, industry-specific\",\n    \"key_characteristics\": [\"bullet\", \"points\", \"of\", \"distinctive\", \"features\"]\n  },\n  \"typical_call_to_action\": {\n    \"common_phrases\": [\"specific\", \"cta\", \"examples\", \"from\", \"text\"],\n    \"format\": \"e.g., buttons, inline links, standalone sentences\",\n    \"placement\": \"e.g., beginning, middle, end of text\",\n    \"urgency_level\": \"e.g., high urgency (Now!), soft suggestion, none\",\n    \"action_type\": \"e.g., purchase, subscribe, share, comment, download\"\n  },\n  \"headline_structure\": {\n    \"typical_patterns\": [\"e.g., Number + Adjective + Noun\", \"Question format\", \"How-to format\"],\n    \"average_length\": \"word count range\",\n    \"common_elements\": [\"power words\", \"numbers\", \"emotional triggers\", \"questions\"],\n    \"formatting_style\": \"e.g., Title Case, all caps, emoji usage, punctuation\"\n  },\n  \"narrative_style\": {\n    \"point_of_view\": \"1st person (I/we), 2nd person (you), 3rd person (they)\",\n    \"storytelling_approach\": \"e.g., anecdotal, case study-based, instructional, conversational\",\n    \"structure\": \"e.g., problem-solution, chronological, listicle, pyramid style\",\n    \"pacing\": \"e.g., fast-paced, contemplative, step-by-step\",\n    \"engagement_techniques\": [\"e.g., rhetorical questions\", \"personal stories\", \"data references\"]\n  },\n  \"text_goal\": {\n    \"primary_objective\": \"e.g., educate, persuade, entertain, sell, build authority, generate leads\",\n    \"secondary_objectives\": [\"list\", \"of\", \"supporting\", \"goals\"],\n    \"reader_intended_action\": \"what the reader should do/feel after reading\",\n    \"success_metrics\": \"implied metrics (e.g., conversions, engagement, awareness)\"\n  },\n  \"target_audience\": {\n    \"demographics\": \"age, profession, education level if discernible\",\n    \"psychographics\": \"values, interests, lifestyle\",\n    \"expertise_level\": \"beginner / intermediate / expert in the field\",\n    \"pain_points\": [\"specific problems addressed\"],\n    \"desires\": [\"what they want to achieve/feel\"],\n    \"relationship_to_writer\": \"e.g., customers, peers, students, general public\"\n  },\n  \"tone\": {\n    \"primary_tone\": \"e.g., authoritative, friendly, urgent, empathetic, humorous, professional\",\n    \"emotional_quality\": \"e.g., inspiring, reassuring, challenging, comforting\",\n    \"consistency\": \"consistent or varies by topic\",\n    \"voice_attributes\": [\"e.g., confident\", \"humble\", \"expert\", \"relatable\"]\n  },\n  \"persona\": {\n    \"name\": \"Fictional representative name\",\n    \"age_range\": \"e.g., 30-40 years\",\n    \"professional_background\": \"likely occupation and experience level\",\n    \"writing_experience\": \"e.g., journalist, marketing expert, entrepreneur, hobbyist\",\n    \"personality_traits\": [\"e.g., detail-oriented\", \"charismatic\", \"analytical\", \"creative\"],\n    \"expertise_level\": \"deep expert / practitioner / enthusiast / observer\",\n    \"voice_characteristics\": [\"e.g., uses metaphors\", \"data-driven\", \"emotionally expressive\"],\n    \"typical_expressions\": [\"signature phrases\", \"transition words\", \"greetings\"],\n    \"relationship_to_reader\": \"e.g., mentor, peer, service provider, friend\",\n    \"background_story\": \"Brief 2-3 sentence bio explaining who this person is and why they write this way\"\n  }\n}\n\nANALYSIS INSTRUCTIONS:\n1. Identify recurring patterns across multiple text samples if provided\n2. Support persona creation with specific evidence from the texts (favorite words, typical transitions)\n3. Note contrasts or variations if the style changes by context\n4. Be specific rather than generic (e.g., instead of \"uses questions,\" specify \"uses rhetorical questions about reader's pain points\")\n5. If analyzing multiple texts, indicate which patterns are consistent vs. variable\n\nConstraints:\n- Output MUST be valid JSON only\n- No markdown code blocks (```)\n- No explanatory text before or after the JSON\n- Escape special characters properly within strings\n- Use null for fields that cannot be determined from the text",
              "role": "system"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "id": "23f84b2c-c1fd-4ab9-89e4-ac4e92f984dc",
      "name": "extrakce informací o uživateli1",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        -864,
        -1088
      ],
      "typeVersion": 1.8,
      "credentials": {
        "openAiApi": {
          "id": "p7oPP8MGqCl9FNig",
          "name": "litellm"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $('extrakce informací o uživateli1').item.json.message.content }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "6620cde2-f627-426b-9f48-178f52769681",
      "name": "odpoved",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        496,
        -1088
      ],
      "typeVersion": 1.4
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "writer",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1072,
        -336
      ],
      "id": "e7d8ce61-ae99-4e5e-ad1f-2df6db7163d6",
      "name": "writer",
      "webhookId": "260643a8-dde2-44bb-9f8f-d06b4d0c958c"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "Q7fZzgmt5ViLxMz3",
          "mode": "list",
          "cachedResultName": "Memory",
          "cachedResultUrl": "/projects/xS32gOwwT3WmdVsS/datatables/Q7fZzgmt5ViLxMz3"
        },
        "filters": {
          "conditions": [
            {
              "keyValue": "1"
            }
          ]
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -512,
        -784
      ],
      "id": "e83de2ac-03aa-4e77-9b26-a8b030b5bfe8",
      "name": "nacteni uzivatelskeho profilu"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "Q7fZzgmt5ViLxMz3",
          "mode": "list",
          "cachedResultName": "Memory",
          "cachedResultUrl": "/projects/xS32gOwwT3WmdVsS/datatables/Q7fZzgmt5ViLxMz3"
        },
        "filters": {
          "conditions": [
            {
              "keyValue": "1"
            }
          ]
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -496,
        -336
      ],
      "id": "83220895-92ce-464c-a123-5bcb422fdde0",
      "name": "nacteni uzivatelskeho profilu1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "generate-topics",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1088,
        -784
      ],
      "id": "85d1812d-9f1c-4a53-bbfa-139d4e5b2c5a",
      "name": "generate-topics",
      "webhookId": "260643a8-dde2-44bb-9f8f-d06b4d0c958c"
    },
    {
      "parameters": {
        "content": "## Získání informací o uživateli a vygenerování jeho profilu",
        "height": 384,
        "width": 2016
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1264,
        -1280
      ],
      "typeVersion": 1,
      "id": "2013130a-504e-4afd-ae7e-717477e088dd",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Vytvoření a vrácení 3 topic",
        "height": 384,
        "width": 2016,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1264,
        -848
      ],
      "typeVersion": 1,
      "id": "18c0054a-aa1b-434f-b1c6-5e5238cec470",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Napíše příběh podle uživatelského profilu",
        "height": 432,
        "width": 2016,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1264,
        -400
      ],
      "typeVersion": 1,
      "id": "c107b521-9691-4066-b7d5-e07aaac2c81c",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Generování scénářů + QA",
        "height": 1264,
        "width": 2768,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1264,
        96
      ],
      "typeVersion": 1,
      "id": "8cd84b9a-12f8-4278-93fa-9413ecb09c06",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "Q7fZzgmt5ViLxMz3",
          "mode": "list",
          "cachedResultName": "Memory",
          "cachedResultUrl": "/projects/xS32gOwwT3WmdVsS/datatables/Q7fZzgmt5ViLxMz3"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "user",
              "keyValue": "1"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "content": "={{ JSON.stringify($json.message?.content ?? \"\") }}",
            "user": "1"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "content",
              "displayName": "content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "user",
              "displayName": "user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -512,
        -1088
      ],
      "id": "aa5cf80a-4993-4ea0-8d27-de4a1ab36600",
      "name": "ulozeni profilu uzivatele"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "openrouter/google/gemini-3-flash-preview",
          "mode": "list",
          "cachedResultName": "OPENROUTER/GOOGLE/GEMINI-3-FLASH-PREVIEW"
        },
        "messages": {
          "values": [
            {
              "content": "=# System Prompt for Instagram Post Content Creation\n\n## Context\nYou are an elite AI content strategist specializing in Instagram post creation for creators, coaches, solopreneurs, and small business owners. Your users face challenges with limited time and creative blocks. They rely on you to produce **ONE engaging, polished post** based on a single story that's ready for immediate publishing without any editing.\n\n## Role\nYou are a seasoned digital content creator who understands:\n- Human psychology and emotional triggers\n- Instagram best practices and engagement patterns\n- Aesthetic storytelling that resonates with audiences\n- What makes content visually appealing and impactful\n\n## Task\nUsing the story input, generate **ONE complete, fully polished Instagram post** that aligns with the platform's requirements, if there is a feedback message, keep it in to consideration while generating the output:\n\n### Input Variables:\n- **Story**: `{{ $json.body.story }}`\n- **feedback**: `{{ !$('Merge5') ? $('Merge5').item.json.message.content.feedback : \"\" }}`\n\n\n### Output Requirements:\n\n**Post Structure Guidelines:**\n- **Total Length**: 125-150 words (optimal engagement), fitting within the character limit of 2,200\n- **Hook**: Start with an engaging opener to capture attention\n- **Main Content**: Provide a captivating narrative based on the story\n- **Conclusion/CTA**: Wrap up with a strong call-to-action to encourage engagement\n- **Hashtags**: Include 3-5 relevant hashtags to improve reach\n\n### Content Creation Strategy:\n1. **Start with a Captivating Hook** to draw readers in immediately.\n2. **Develop the Main Content** by weaving the story into a narrative that resonates emotionally.\n3. **Conclude with a Clear Call-to-Action** encouraging likes, comments, or shares.\n\n**Quality Standards:**\n- Deliver ONE polished, publication-ready Instagram post\n- Sound human, not AI-generated\n- Be visually engaging and formatted for easy reading\n- Ensure a natural flow with appropriate tone and style\n- Use emojis sparingly, enhancing readability without cluttering the text\n\n## Format Rules\n- Output ONE complete, polished Instagram post ready for immediate publishing\n- No explanatory text or section headers in your response\n- Ensure the content maximizes engagement potential for Instagram\n\nThis is the context of the user, personalise based on this:\n{{ $json.content }}",
              "role": "assistant"
            }
          ]
        },
        "options": {
          "frequency_penalty": 0.3,
          "presence_penalty": 0.6,
          "temperature": 0.6,
          "topP": 0.9
        }
      },
      "id": "77b4c8f2-d8f9-4687-97ce-1950c6d8d897",
      "name": "Instagram",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        -784,
        928
      ],
      "typeVersion": 1.8,
      "credentials": {
        "openAiApi": {
          "id": "p7oPP8MGqCl9FNig",
          "name": "litellm"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "openrouter/google/gemini-3-flash-preview",
          "mode": "list",
          "cachedResultName": "OPENROUTER/GOOGLE/GEMINI-3-FLASH-PREVIEW"
        },
        "messages": {
          "values": [
            {
              "content": "=# System Prompt for TikTok Video Content Creation\n\n## Context\nYou are an elite AI content strategist specializing in TikTok video creation for creators, coaches, solopreneurs, and small business owners. Your users deal with limited time and creative blocks. They rely on you to produce **ONE engaging, polished video script** based on a single story that's ready for immediate recording without any editing.\n\n## Role\nYou are a seasoned digital content creator who understands:\n- Human psychology and emotional triggers\n- TikTok best practices and engagement patterns\n- Trends and viral content strategies\n- Authentic storytelling that builds audience trust\n\n## Task\nUsing the story input, generate **ONE complete, fully polished video script** that aligns with TikTok's format and requirements, if there is a feedback message, keep it in to consideration while generating the output:\n\n### Input Variables:\n- **Story**: `{{ $json.body.story }}`\n- **feedback**: `{{ !$('Merge4') ? $('Merge4').item.json.message.content.feedback : \"\" }}`\n\n\n\n### Output Requirements:\n\n**Video Structure Guidelines:**\n- **Total Length**: 15-60 seconds, keeping it concise and engaging\n- **Hook**: The first few seconds should grab attention immediately\n- **Main Content**: Quickly convey the essence of the story with key highlights\n- **Conclusion/CTA**: End with a clear call-to-action that encourages viewer interaction\n\n### Content Creation Strategy:\n1. **Start with a Captivating Hook** to immediately engage viewers.\n2. **Present the Main Content** in a fun, concise manner that captures the essence of the story.\n3. **Conclude with a Strong Call-to-Action** encouraging viewers to comment, like, or follow for more content.\n\n**Quality Standards:**\n- Deliver ONE polished, publication-ready video script\n- Sound human, not AI-generated\n- Be TikTok-optimized and engaging\n- Ensure a natural flow with proper pacing\n- Avoid generic filler phrases or overly academic tone\n\n## Format Rules\n- Output ONE complete, polished video script ready for immediate recording\n- No explanatory text or section headers in your response\n- Ensure the content maximizes engagement potential for TikTok\n\nThis is the context of the user, personalise based on this:\n{{ $json.content }}",
              "role": "assistant"
            }
          ]
        },
        "options": {
          "frequency_penalty": 0.3,
          "presence_penalty": 0.6,
          "temperature": 0.6,
          "topP": 0.9
        }
      },
      "id": "6d780d80-ec1f-4e5f-9454-3abe0dcc128c",
      "name": "TikTok",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        -784,
        608
      ],
      "typeVersion": 1.8,
      "credentials": {
        "openAiApi": {
          "id": "p7oPP8MGqCl9FNig",
          "name": "litellm"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "openrouter/google/gemini-3-flash-preview",
          "mode": "list",
          "cachedResultName": "OPENROUTER/GOOGLE/GEMINI-3-FLASH-PREVIEW"
        },
        "messages": {
          "values": [
            {
              "content": "=# System Prompt for YouTube Content Quality Assessment\n\n## Context\nYou are a quality assurance (QA) agent specializing in evaluating YouTube content generated from provided stories. Your users need to assess the quality of video scripts based on emotional resonance, engagement potential, and overall effectiveness. You will output a JSON object with a score and optional feedback.\n\n## Role\nYou are an experienced content evaluator who understands:\n- The elements that make YouTube videos engaging and impactful\n- Audience expectations and emotional triggers\n- The metrics for assessing video script quality\n\n## Task\nUsing the generated video script based on the provided story, evaluate its quality and assign a score and feedback:\n\n### Input Variables:\n- **Generated Story**: `{{ $json.message.content }}`\n\n### Output Format:\n- Your evaluation should be in the form of a JSON object containing:\n  - **score**: An integer from 0 to 100 indicating the quality of the content\n  - **feedback**: A string providing specific comments on the strengths or weaknesses of the content. This can be empty if the score is very high (e.g., 90+).\n\n### This is the context of the user, personalise based on this:\n{{ $('nacteni uzivatelskeho profilu2').item.json.content }}\n\n### Scoring Guidelines:\n- **85-100**: Exceptional content with strong engagement and emotional resonance. Feedback may be empty.\n- **70-84**: Good content with minor improvements needed. Include specific areas for enhancement.\n- **50-69**: Fair content that lacks depth or engagement. Highlight key issues to address.\n- **Below 50**: Poor content with significant flaws. Provide a detailed breakdown of necessary changes.\n\n### Example Output Structure:\n{\n\"score\": [Score from 0 to 100],\n\"feedback\": \"[Your feedback or leave empty if score is 85+, but must be a string even if is empty]\"\n}",
              "role": "system"
            }
          ]
        },
        "jsonOutput": true,
        "options": {
          "frequency_penalty": 0.3,
          "presence_penalty": 0.6,
          "temperature": 0.6,
          "topP": 0.9
        }
      },
      "id": "1634a080-82c8-4eb0-bba8-65641803e2c1",
      "name": "Youtube QA",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        -336,
        240
      ],
      "typeVersion": 1.8,
      "credentials": {
        "openAiApi": {
          "id": "p7oPP8MGqCl9FNig",
          "name": "litellm"
        }
      }
    },
    {
      "parameters": {
        "mode": "chooseBranch"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        448,
        304
      ],
      "id": "74414133-f8dd-475b-86a8-6ac0c9f3e86b",
      "name": "Merge3"
    },
    {
      "parameters": {
        "mode": "chooseBranch"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        432,
        608
      ],
      "id": "de70b256-bf9e-4e4c-98c9-cd36d3e55417",
      "name": "Merge4"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "openrouter/google/gemini-3-flash-preview",
          "mode": "list",
          "cachedResultName": "OPENROUTER/GOOGLE/GEMINI-3-FLASH-PREVIEW"
        },
        "messages": {
          "values": [
            {
              "content": "=# System Prompt for TikTok Content Quality Assessment\n\n## Context\nYou are a quality assurance (QA) agent specializing in evaluating TikTok content generated from provided stories. Your users need to assess the quality of TikTok scripts based on hook strength, retention potential, emotional resonance, and overall effectiveness in a short-form format. You will output a JSON object with a score and optional feedback.\n\n## Role\nYou are an experienced content evaluator who understands:\n- The elements that make TikTok videos engaging, fast-paced, and impactful\n- Audience expectations, scroll-stopping hooks, and emotional triggers\n- The metrics for assessing short-form script quality (hook, pacing, clarity, payoff, retention)\n\n## Task\nUsing the generated TikTok script based on the provided story, evaluate its quality and assign a score and feedback:\n\n### Input Variables:\n- **Generated Story**: `{{ $json.message.content }}`\n\n### Output Format:\n- Your evaluation should be in the form of a JSON object containing:\n  - **score**: An integer from 0 to 100 indicating the quality of the content\n  - **feedback**: A string providing specific comments on the strengths or weaknesses of the content. This can be empty if the score is very high (e.g., 90+).\n\n### This is the context of the user, personalise based on this:\n{{ $('nacteni uzivatelskeho profilu2').item.json.content }}\n\n### Scoring Guidelines:\n- **85-100**: Exceptional short-form content with a strong hook, clear pacing, high retention potential, and emotional resonance. Feedback may be empty.\n- **70-84**: Good content with minor improvements needed (e.g., stronger first second hook, tighter pacing, clearer payoff). Include specific areas for enhancement.\n- **50-69**: Fair content that lacks a compelling hook, drags, or has unclear structure/payoff. Highlight key issues to address.\n- **Below 50**: Poor content with significant flaws (no hook, confusing narrative, weak payoff, low retention cues). Provide a detailed breakdown of necessary changes.\n\n### Evaluation Criteria (What to look for)\n- **Hook (0–25)**: Does the first 1–2 seconds create curiosity or emotion?\n- **Pacing & Brevity (0–20)**: Is it tight, fast, and free of filler?\n- **Clarity (0–15)**: Is the story understandable immediately?\n- **Emotional Impact (0–15)**: Does it evoke surprise, empathy, excitement, or tension?\n- **Retention Devices (0–15)**: Pattern interrupts, open loops, quick reveals, escalating stakes.\n- **Payoff / Ending (0–10)**: Satisfying twist, lesson, reveal, or call-to-action.\n\n### Example Output Structure:\n{\n  \"score\": 92,\n  \"feedback\": \"\"\n}\n\nNote: The \"feedback\" field must always be a string (use \"\" if empty).",
              "role": "system"
            }
          ]
        },
        "jsonOutput": true,
        "options": {
          "frequency_penalty": 0.3,
          "presence_penalty": 0.6,
          "temperature": 0.6,
          "topP": 0.9
        }
      },
      "id": "410fec73-f58e-46ca-9b80-31c3366b3e69",
      "name": "Tiktok QA",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        -384,
        592
      ],
      "typeVersion": 1.8,
      "credentials": {
        "openAiApi": {
          "id": "p7oPP8MGqCl9FNig",
          "name": "litellm"
        }
      }
    },
    {
      "parameters": {
        "mode": "chooseBranch",
        "useDataOfInput": 2
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        448,
        128
      ],
      "id": "1727bcc9-2d3d-4daa-b78e-5c6a93e55666",
      "name": "Merge9"
    },
    {
      "parameters": {
        "mode": "chooseBranch"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        432,
        480
      ],
      "id": "5b1d5e2c-5299-4621-84ba-2fe6e842b5b1",
      "name": "Merge10"
    },
    {
      "parameters": {
        "mode": "chooseBranch"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        432,
        960
      ],
      "id": "2f81fe79-ef1a-4ccc-a389-7f643b7dcd4c",
      "name": "Merge5"
    },
    {
      "parameters": {
        "mode": "chooseBranch"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        432,
        832
      ],
      "id": "c0a306eb-9d62-4d09-90f0-730883a4b243",
      "name": "Merge11"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "openrouter/google/gemini-3-flash-preview",
          "mode": "list",
          "cachedResultName": "OPENROUTER/GOOGLE/GEMINI-3-FLASH-PREVIEW"
        },
        "messages": {
          "values": [
            {
              "content": "=# System Prompt for Instagram Post Content Quality Assessment\n\n## Context\nYou are a quality assurance (QA) agent specializing in evaluating Instagram post content generated from provided stories. Your users need to assess the quality of Instagram post copy based on clarity, emotional resonance, shareability, and overall effectiveness for the Instagram feed. You will output a JSON object with a score and optional feedback.\n\n## Role\nYou are an experienced content evaluator who understands:\n- The elements that make Instagram posts engaging and impactful\n- Audience expectations, emotional triggers, and visual-first consumption\n- The metrics for assessing Instagram copy quality (hook, readability, value, CTA)\n\n## Task\nUsing the generated Instagram post based on the provided story, evaluate its quality and assign a score and feedback:\n\n### Input Variables:\n- **Generated Story**: `{{ $json.message.content }}`\n\n### Output Format:\n- Your evaluation should be in the form of a JSON object containing:\n  - **score**: An integer from 0 to 100 indicating the quality of the content\n  - **feedback**: A string providing specific comments on strengths or weaknesses. This can be empty if the score is very high (e.g., 90+).\n\n### This is the context of the user, personalise based on this:\n{{ $('nacteni uzivatelskeho profilu2').item.json.content }}\n\n### Scoring Guidelines:\n- **85-100**: Exceptional content with strong engagement and emotional resonance. High save/share potential. Feedback may be empty.\n- **70-84**: Good content with minor improvements needed (hook, formatting, CTA, clarity). Include specific areas for enhancement.\n- **50-69**: Fair content that lacks depth, readability, or engagement. Highlight key issues to address.\n- **Below 50**: Poor content with significant flaws (unclear, weak hook, no value/CTA, low shareability). Provide a detailed breakdown of necessary changes.\n\n### Evaluation Criteria (What to look for)\n- **Hook (0–20)**: Strong opening line that stops scrolling.\n- **Clarity & Readability (0–20)**: Short sentences, easy to skim, strong structure/formatting.\n- **Emotional Resonance (0–15)**: Relatable, vivid, meaningful.\n- **Value (0–15)**: Clear takeaway, lesson, insight, or entertainment payoff.\n- **Share/Save Potential (0–15)**: Quote-worthy lines, actionable tips, relatable moments.\n- **Call-to-Action (0–10)**: Encourages comment/save/share/DM without feeling forced.\n- **Brand Voice Consistency (0–5)**: Tone feels consistent and intentional.\n\n### Example Output Structure:\n{\n  \"score\": 90,\n  \"feedback\": \"\"\n}\n\nNote: The \"feedback\" field must always be a string (use \"\" if empty).",
              "role": "system"
            }
          ]
        },
        "jsonOutput": true,
        "options": {
          "frequency_penalty": 0.3,
          "presence_penalty": 0.6,
          "temperature": 0.6,
          "topP": 0.9
        }
      },
      "id": "95614b01-22cf-496b-802b-dc6ad9bcc610",
      "name": "Instagram QA",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        -384,
        944
      ],
      "typeVersion": 1.8,
      "credentials": {
        "openAiApi": {
          "id": "p7oPP8MGqCl9FNig",
          "name": "litellm"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "bsec-2026@datovka.eu",
        "toEmail": "david@nahorniak.cz",
        "subject": "test",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1216,
        1088
      ],
      "id": "a3b3732b-ae86-4536-822b-8968a0316292",
      "name": "zaslani emailu porodcum",
      "webhookId": "4e341863-ee8c-46d8-859f-bfe9682f9549",
      "credentials": {
        "smtp": {
          "id": "fTZuOAg8NKkjzBtF",
          "name": "SMTP account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\n\nlet inputs = []\n\nfor (const item of $input.all()) {\n  inputs.push(item.json.message.content.replaceAll(\"\\\\n\", \"<br>\"))\n}\n\n\n\nlet html = `\n    <body>\n      <h1>Youtube Scenario</h1>\n      ${inputs[0]}\n\n\n      <br><br>\n      \n      <h1>Tiktok Video Scenario</h1>\n      ${inputs[1]}\n\n      <br><br>\n      \n      <h1>Instagram Post</h1>\n      ${inputs[2]}\n    </body>\n`\n\n\nreturn [{result: html}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        912,
        1088
      ],
      "id": "d772b73e-c918-4164-bdb4-1108fd7e7017",
      "name": "vytvoření emailu"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        736,
        640
      ],
      "id": "aca58246-a986-4f2c-8333-6750e51608a8",
      "name": "spojení"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "editor",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1264,
        624
      ],
      "id": "cf21ce0c-0e46-47f9-ac08-a04ec1b35f00",
      "name": "editor",
      "webhookId": "260643a8-dde2-44bb-9f8f-d06b4d0c958c"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "openrouter/google/gemini-3-flash-preview",
          "mode": "list",
          "cachedResultName": "OPENROUTER/GOOGLE/GEMINI-3-FLASH-PREVIEW"
        },
        "messages": {
          "values": [
            {
              "content": "=# System Prompt for YouTube Video Content Creation\n\n## Context\nYou are an elite AI content strategist specializing in YouTube video creation for creators, coaches, solopreneurs, and small business owners. Your users struggle with limited time and creative blocks. They rely on you to produce **ONE emotionally resonant, polished video script** based on a single story that's ready for immediate recording without any editing.\n\n## Role\nYou are a seasoned digital content creator who understands:\n- Human psychology and emotional triggers\n- Video presentation best practices and viewer engagement patterns\n- Authentic storytelling that builds audience trust\n- What makes video content engaging and impactful\n\n## Task\nUsing the story input, generate **ONE complete, fully polished video script** that aligns with YouTube's requirements, if there is a feedback message, keep it in to consideration while generating the output:\n\n### Input Variables:\n- **Story**: `{{ $json.body.story }}`\n- **feedback**: `{{ !$('Merge3') ? $('Merge3').item.json.message.content.feedback : \"\" }}`\n\n\n### Output Requirements:\n\n**Video Structure Guidelines:**\n- **Introduction**: 30-60 seconds, engaging hook to capture viewer attention\n- **Main Content**: 4-8 minutes, featuring detailed narrative based on the provided story\n- **Conclusion**: 30-60 seconds, summarizing key points and incorporating a strong call-to-action\n\n### Content Creation Strategy:\n1. **Start with an Engaging Hook** to immediately capture attention, creating anticipation.\n2. **Develop the Main Content** based on the story, keeping it engaging and informative.\n3. **Conclude with a Summary** that highlights the key takeaways and includes a call to action to encourage viewer interaction.\n\n**Quality Standards:**\n- Deliver ONE polished, publication-ready video script\n- Sound human, not AI-generated\n- Be video-optimized and engaging\n- Ensure a natural flow with proper tone and pacing\n- Avoid generic filler phrases or overly academic tone\n\n## Format Rules\n- Output ONE complete, polished video script ready for immediate recording\n- No explanatory text or section headers in your response\n- Ensure the content maximizes engagement potential for YouTube\n\nThis is the context of the user, personalise based on this:\n{{ $json.content }}",
              "role": "assistant"
            }
          ]
        },
        "options": {
          "frequency_penalty": 0.3,
          "presence_penalty": 0.6,
          "temperature": 0.6,
          "topP": 0.9
        }
      },
      "id": "803cd438-6f82-4a15-ba94-af85ac7ab763",
      "name": "YouTube",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        -752,
        240
      ],
      "typeVersion": 1.8,
      "credentials": {
        "openAiApi": {
          "id": "p7oPP8MGqCl9FNig",
          "name": "litellm"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "4f84c966-2b04-41df-9a40-03d31f65075a",
              "leftValue": "={{ $json.message.content.score }}",
              "rightValue": 85,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            },
            {
              "id": "971177b8-81ce-440a-b8c0-b25879964754",
              "leftValue": "={{parseInt($runIndex)}}",
              "rightValue": 3,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        112,
        592
      ],
      "id": "ffa4dd72-11ef-4182-be3a-e5758600eeb8",
      "name": "TikTok kvalita > 85%"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "4f84c966-2b04-41df-9a40-03d31f65075a",
              "leftValue": "={{ $json.message.content.score }}",
              "rightValue": 85,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            },
            {
              "id": "db3ce556-b842-4866-8cc9-245ec34e0a67",
              "leftValue": "={{parseInt($runIndex)}}",
              "rightValue": 3,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        112,
        240
      ],
      "id": "0ef09b01-4daf-47fd-b8dd-814ee92770d4",
      "name": "YouTube kvalita > 85%"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "4f84c966-2b04-41df-9a40-03d31f65075a",
              "leftValue": "={{ $json.message.content.score }}",
              "rightValue": 85,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            },
            {
              "id": "849e95ee-447f-4e2b-834e-9fbe020ebfc2",
              "leftValue": "={{ parseInt($runIndex) }}",
              "rightValue": "=3",
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        112,
        944
      ],
      "id": "690e5545-ab0f-4d8e-83bc-7fb6c6eb48c0",
      "name": "Instagram kvalita >85%",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "Q7fZzgmt5ViLxMz3",
          "mode": "list",
          "cachedResultName": "Memory",
          "cachedResultUrl": "/projects/xS32gOwwT3WmdVsS/datatables/Q7fZzgmt5ViLxMz3"
        },
        "filters": {
          "conditions": [
            {
              "keyValue": "1"
            }
          ]
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -1104,
        624
      ],
      "id": "a2a25118-2b9e-43b1-a05f-3cf8e3314572",
      "name": "nacteni uzivatelskeho profilu2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are an agent. You will get a theme suggestion from the user and  your job is to create a list of 3 themes where I need to generate the following \n\n{\n    \"theme\": \"<Story theme based on the user input>\",\n    \"goal\": \"<Story goal of the script story for example 'educative'>\",\n    \"target_group\": \"<target audience, for example 'founders of startups'>\",\n    \"main_thought\": \"<main scene thought>\",\n    \"tone\": \"<The presenting tone>\",\n    \"idea\": \"<The idea>\",\n}\n\nAdditional instructions:\nGene\n\nconstraints:\nDO NOT change the context\nDO NOT hallucinate\nDo Not generate the content\n**ONLY** create the intent and return. \n**USE** the structured output to respond\n\nuser profile:\n{{ $json.content }}\n\n\nuser_theme_suggestion = {{ $('Edit Fields2').item.json.chatInput }}\n\n",
          "returnIntermediateSteps": true
        }
      },
      "id": "01f8cf93-ba46-49e0-a7f2-d4c4492138af",
      "name": "agent vytvoří 3 topic",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -240,
        -784
      ],
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are a writer. Your job to write a story based on these story parameters\n\n\n{{ $('writer').item.json.body.theme }}\n{{ $('writer').item.json.body.goal }}\n{{ $('writer').item.json.body.target_group }}\n{{ $('writer').item.json.body.main_thought }}\n{{ $('writer').item.json.body.tone }}\n{{ $('writer').item.json.body.idea }}\n\nThis story will be used for generatic scripts for Youtube, TikTok and Instagram so make sure it is usable for all of those (it should still be quite generic). \n\nMake sure to include these things atleast:\n- Hook – A strong opening line that grabs attention within the first 3–5 seconds.\n- Overview – Brief summary of what the story is about.\n- Context / Background – Why this topic matters.\n- Main Conflict or Core Idea – The central tension, challenge, or insight.\n- Key Turning Point – A moment of realization, change, or escalation.\n- Resolution / Outcome – What happened in the end.\n- Key Takeaways – Clear lessons or insights viewers can apply.\n- Emotional Element – Something relatable (struggle, fear, hope, surprise, etc.).\n- Call to Action – A generic CTA that can work across platforms (e.g., “Follow for more stories like this”).\n- Optional Engagement Pro\n\nPrepare the text from the user's perspective:\n{{ $json.content }}\n\nconstraints:\nDO NOT change the context\nDO NOT hallucinate\nDo Not generate the content\n**ONLY** create the intent and return. \n**USE** the structured output to respond\n**OUTPUT** should be in the following format:\n\n{\n  \"story\": \"<YOUR GENERATED STORY>\"\n}",
          "returnIntermediateSteps": true
        }
      },
      "id": "4ee449ec-4c19-4f69-bb7a-60b37f3ba3f4",
      "name": "agent píše scénář",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -224,
        -336
      ],
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.output }}",
        "options": {}
      },
      "id": "84030551-23ce-407f-bc99-d72ea8ae1bc6",
      "name": "odpoved1",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        496,
        -784
      ],
      "typeVersion": 1.4
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.output }}",
        "options": {}
      },
      "id": "d2aba413-a368-49b0-99a9-664af6a23bb4",
      "name": "odpoved2",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        512,
        -336
      ],
      "typeVersion": 1.4
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        992,
        656
      ],
      "id": "83019b6f-921b-4db3-ae70-e6ae2365a025",
      "name": "odpoved3"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "openrouter/moonshotai/kimi-k2.5",
          "mode": "list",
          "cachedResultName": "openrouter/moonshotai/kimi-k2.5"
        },
        "options": {
          "frequencyPenalty": 0,
          "presencePenalty": 0,
          "temperature": 0.2,
          "maxRetries": 2,
          "topP": 0.7
        }
      },
      "id": "47ad4823-4bb8-46c7-8323-bb3ebc6d9df7",
      "name": "kimi-k2.5",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        -304,
        -592
      ],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "p7oPP8MGqCl9FNig",
          "name": "litellm"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "openrouter/google/gemini-3-flash-preview",
          "mode": "list",
          "cachedResultName": "openrouter/google/gemini-3-flash-preview"
        },
        "options": {
          "frequencyPenalty": 0,
          "presencePenalty": 0,
          "temperature": 0.2,
          "maxRetries": 2,
          "topP": 0.7
        }
      },
      "id": "665e067d-305e-4304-80e3-a1aed0901142",
      "name": "gemini-3-flash",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        -320,
        -112
      ],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "p7oPP8MGqCl9FNig",
          "name": "litellm"
        }
      }
    }
  ],
  "connections": {
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "agent vytvoří 3 topic",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "stringifyJSON": {
      "main": [
        [
          {
            "node": "odpoved1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "agent píše scénář",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "stringifyJSON1": {
      "main": [
        [
          {
            "node": "odpoved2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "nacteni uzivatelskeho profilu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "import_memory": {
      "main": [
        [
          {
            "node": "extrakce informací o uživateli1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "extrakce informací o uživateli1": {
      "main": [
        [
          {
            "node": "ulozeni profilu uzivatele",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "writer": {
      "main": [
        [
          {
            "node": "nacteni uzivatelskeho profilu1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "nacteni uzivatelskeho profilu": {
      "main": [
        [
          {
            "node": "agent vytvoří 3 topic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "nacteni uzivatelskeho profilu1": {
      "main": [
        [
          {
            "node": "agent píše scénář",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "generate-topics": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ulozeni profilu uzivatele": {
      "main": [
        [
          {
            "node": "odpoved",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Instagram": {
      "main": [
        [
          {
            "node": "Instagram QA",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TikTok": {
      "main": [
        [
          {
            "node": "Tiktok QA",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Youtube QA": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 0
          },
          {
            "node": "YouTube kvalita > 85%",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge3": {
      "main": [
        [
          {
            "node": "YouTube",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge4": {
      "main": [
        [
          {
            "node": "TikTok",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tiktok QA": {
      "main": [
        [
          {
            "node": "Merge4",
            "type": "main",
            "index": 0
          },
          {
            "node": "TikTok kvalita > 85%",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge9": {
      "main": [
        [
          {
            "node": "spojení",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge10": {
      "main": [
        [
          {
            "node": "spojení",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge5": {
      "main": [
        [
          {
            "node": "Instagram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge11": {
      "main": [
        [
          {
            "node": "spojení",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Instagram QA": {
      "main": [
        [
          {
            "node": "Merge5",
            "type": "main",
            "index": 0
          },
          {
            "node": "Instagram kvalita >85%",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "vytvoření emailu": {
      "main": [
        [
          {
            "node": "zaslani emailu porodcum",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "spojení": {
      "main": [
        [
          {
            "node": "odpoved3",
            "type": "main",
            "index": 0
          },
          {
            "node": "vytvoření emailu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "editor": {
      "main": [
        [
          {
            "node": "nacteni uzivatelskeho profilu2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "YouTube": {
      "main": [
        [
          {
            "node": "Youtube QA",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge9",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "TikTok kvalita > 85%": {
      "main": [
        [
          {
            "node": "Merge10",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Merge4",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "YouTube kvalita > 85%": {
      "main": [
        [
          {
            "node": "Merge9",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Instagram kvalita >85%": {
      "main": [
        [
          {
            "node": "Merge11",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Merge5",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "nacteni uzivatelskeho profilu2": {
      "main": [
        [
          {
            "node": "YouTube",
            "type": "main",
            "index": 0
          },
          {
            "node": "TikTok",
            "type": "main",
            "index": 0
          },
          {
            "node": "Instagram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "agent vytvoří 3 topic": {
      "main": [
        [
          {
            "node": "stringifyJSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "agent píše scénář": {
      "main": [
        [
          {
            "node": "stringifyJSON1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "kimi-k2.5": {
      "ai_languageModel": [
        [
          {
            "node": "agent vytvoří 3 topic",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "gemini-3-flash": {
      "ai_languageModel": [
        [
          {
            "node": "agent píše scénář",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e73a042d65bac95296b55f8946e646137e25566fc481782bae25a240c55d6e43"
  }
}
